.nav-color{
    background-color: #473e3e;
    a{
    color: white;
    }
}

.navbar-translate{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbar-toggler{
    border-color: white;
}